
@{
    ViewBag.Title = "AuthorizeFail";
}
<!----hien thi thong bao ban k co quyen-->
<p>@ViewData["Message"]</p>
<h2>AuthorizeFail</h2>

<a href="~/Controllers/HomeController.cs">~/Controllers/HomeController.cs</a>