@model IEnumerable<ASM2_CodeFirst.Models.UserClass>

@{
    ViewBag.Title = "YourClass";
}

<h2>YourClass</h2>

<p>
    Đây là lớp học của bạn!
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Class.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Class.Name)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
